<div class="container">
  <h2>Inventario</h2>

 <div class="table-header">
    <input
      type="text"
      placeholder="Buscar membresía..."
      [(ngModel)]="terminoBusqueda"
      class="search-input"
    />
    <span class="search-icon">&#128269;</span>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Producto</th>
        <th>Cantidad</th>
        <th>Ubicación</th>
        <th>Fecha</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of inventarioFiltrado">
        <td>{{ item.id_inventario }}</td>
        <td>{{ item.producto }}</td>
        <td>{{ item.cantidad }}</td>
        <td>{{ item.ubicacion }}</td>
        <td>{{ item.fecha }}</td>
      </tr>
    </tbody>
  </table>
</div>
