.container {
  max-width: 800px;
  margin: 20px auto;
  font-family: Arial, sans-serif;
}

h2 {
  text-align: center;
  color: #f97316;
  margin-bottom: 30px;
  
}

.table-header {
  position: relative;
  width: 100%;
  margin-bottom: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.search-input {
  width: 280px;
  padding: 8px 40px 8px 16px;
  border-radius: 25px;
  border: 1px solid #ccc;
  font-size: 14px;
  outline: none;
  transition: border-color 0.3s ease;
}

.search-input:focus {
  border-color: #f97316;
}

.search-icon {
  position: absolute;
  right: 10px;
  font-size: 18px;
  color: #999;
  pointer-events: none;
}

table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  box-shadow: 0 6px 15px rgba(249, 115, 22, 0.3);
  border-radius: 12px;
  overflow: hidden;
  
}

thead tr {
  background: linear-gradient(90deg, #f97316, #ea580c);
  color: white;
}

th, td {
  padding: 14px 20px;
  text-align: left;
}

thead tr th:first-child {
  border-top-left-radius: 12px;
}

thead tr th:last-child {
  border-top-right-radius: 12px;
}

tbody tr:last-child td:first-child {
  border-bottom-left-radius: 12px;
}

tbody tr:last-child td:last-child {
  border-bottom-right-radius: 12px;
}

tbody tr:hover {
  background-color: #fff4e6;
  cursor: pointer;
}

.icon-btn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 4px;
  font-size: 1.2rem;
  transition: color 0.2s;
  margin-right: 5px;
}

.icon-btn.delete {
  color: #dc3545; /* rojo bonito */
}

.icon-btn.edit {
  color: #4880b9; /* azul tipo Bootstrap */
}

.icon-btn:hover {
  opacity: 0.8;
}
.btn {
  background: linear-gradient(135deg, #e68e62, #ff9900);
  border: none;
  color: rgb(255, 255, 255);
  padding: 10px 24px;
  border-radius: 50px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(255, 153, 0, 0.3);
  transition: all 0.3s ease;
  margin-right: auto;
  
}

.btn:hover {
  background: linear-gradient(135deg, #ff8c1a, #ff6600);
  box-shadow: 0 6px 14px rgba(255, 102, 0, 0.4);
  transform: translateY(-2px);
}

.btn:active {
  transform: scale(0.97);
}

/* Contenedor del buscador */
.search-input {
  padding: 10px 20px 10px 40px;
  border: 2px solid #ff9900;
  border-radius: 25px;
  font-size: 14px;
  outline: none;
  width: 220px;
  transition: all 0.3s ease;
  position: relative;
}

.search-input:focus {
  border-color: #ff6a00;
  box-shadow: 0 0 6px rgba(255, 106, 0, 0.4);
}






