<nav>

  <!-- Menú izquierdo -->
  <div class="menu-izquierdo">
    <div class="dropdown" (click)="toggleInicioDropdown()">
      <button class="dropbtn">☰</button>

      <div class="dropdown-panel-left" [class.show]="inicioDropdownOpen">
        <a routerLink="/clientes">Clientes</a>
        <a routerLink="/ventas-p">Ventas pequeñas</a>
        <a routerLink="/grafica-ventas">Gráficas</a>
        <a routerLink="/coach">Coach</a>
        <a routerLink="/gym-map">Mapa</a>
      </div>
    </div>
  </div>

  <!-- Enlaces y logo -->
  <div class="nav-links">

    <!-- Logo más cerca del menú izquierdo -->
    <img src="assets/olimpus.png" alt="Logo" class="logo" width="120" height="45" routerLink="/home">

    <a routerLink="/home" routerLinkActive="active">Inicio</a>
    <a routerLink="/about" routerLinkActive="active">Inventario</a>
    <a routerLink="/contact" routerLinkActive="active">Personal</a>
    <a routerLink="/products" routerLinkActive="active">Productos</a>
    <a routerLink="/membrecias" routerLinkActive="active">Membrecías</a>
  </div>

  <!-- Menú derecho -->
  <div class="menu-derecho">
    <div class="dropdown" (click)="toggleUsuarioDropdown()">
      <button class="dropbtn">☰</button>

      <div class="dropdown-panel-right" [class.show]="usuarioDropdownOpen">
        <a routerLink="/perfil">Perfil</a>
        <a (click)="cerrarSesion()">Cerrar sesión</a>
        <a routerLink="/configuracion">Configuración</a>
        <a routerLink="/perfiles">Pagos</a>
      </div>
    </div>
  </div>

</nav>

<router-outlet></router-outlet>
